@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

body {

    width: 100%;
}


h1 {
    font-size: 40px;
    color: $font-primary;

}

h2 {
    font-size: 30px;
    color: $font-primary;
}

ul {
    list-style-type: none;
}


a {
    color: $font-primary;
    text-decoration: none;

    &:hover {
        color: $font-link-active;
    }


}

a.active {
    color: $font-link-active;
}

.container {
    @include max-wid1200;
    height: 100%;
}

button {
    border: 1px solid $button-bcg;
    background-color: $font-primary;
    color: $button-bcg;
    font-size: 25px;
    transition: all .2s;

    &:hover {
        border: 1px solid $font-primary;
        background-color: $button-bcg;
        color: $font-primary;

        a {
            color: $font-primary;
        }
    }

    a {
        display: block;
        padding: 20px 30px;
        color: $button-bcg;
    }
}
