header {

    background-color: $button-bcg;
    width: 100%;
    height: $header-height;

    color: $font-primary;
    border-bottom: 1px solid $font-primary;

    nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 80%;
        }

        ul {
            display: flex;

            li {
                margin-left: 10px;
            }
        }
    }
}
