main {
    background-image: url('https://images8.alphacoders.com/522/thumb-1920-522915.jpg');
    height: 100%;
    width: 100%;
    position: relative;

    .center-container {
        @include center-box;
        @include flex-content(column, stretch, center);
        background-color: $layover-bcg;
        padding: 50px;

        .btn-cta {
            margin-top: 50px;
        }

    }

    .cards {
        @include flex-content(row, center, stretch);
        padding: 10px 0;

        .card-divider {
            width: 1200px;
            min-width: 390px;
            text-align: center;
            margin: 20px 0;
            background-color: $button-bcg;
            border: 1px solid $font-primary;

            h2 {
                text-transform: uppercase;
            }

        }

        .card {
            padding: 5px;



            img {
                max-width: 390px;

                border: 1px solid $button-bcg;
                transition: all .4s ease;


                &:hover {
                    box-shadow: $img-shad;
                    cursor: pointer;
                }

                &:hover~p {
                    box-shadow: $subtitle-shad;
                    opacity: 1;
                }

            }



            .titolo-card {
                text-align: center;
                padding: 5px;
                color: $button-bcg;
                background-color: $font-primary;
                transition: all 1s ease;
                opacity: 0;

            }
        }
    }
}


.full-heigth {
    height: calc(100vh - #{$header-height});
}
