main {
    height: 100%;
    width: 100%;
    position: relative;

    .center-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #457c8549;
        padding: 50px;

        .btn-cta {
            margin-top: 50px;
        }


    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        padding: 10px 0;

        .card {
            padding: 5px;



            img {
                max-width: 380px;
                border-radius: 10px;
                border: 1px solid $button-bcg;
                opacity: 0.85;
                transition: all .4s;

                &:hover {

                    opacity: 1;
                }
            }



            .titolo-card {
                text-align: center;
                padding: 5px;
                color: $button-bcg;
                background-color: white;

            }
        }
    }
}


.full-heigth {
    height: calc(100vh - 70px);
}
